# Common envs
PORT=3000
HOST=0.0.0.0
CORS_ORIGIN=localhost

# Stirling environment variables
STIRLING_URL=http://localhost:8080

# Anthropic
ANTHROPIC_API_KEY=

# Apify
APIFY_API_TOKEN=
# Maximum number of posts to fetch from Apify. Adjust as needed.
APIFY_MAX_POSTS=20
